@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  height: 120px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 6px;
  height: 120px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.editor-container .monaco-editor .scrollbar .slider {
  border-radius: 8px;
  background-color: white;
  width: 6px;
  border: none;
}
